@import "tailwindcss";

@plugin "tailwindcss-animate";

html,
body,
:root {
  height: 100%;
  @apply bg-neutral-900/80;
}


.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-background: #252731;
  --color-foreground: #010816;

  --color-card: #ffffff;
  --color-card-foreground: #010816;

  --color-popover: #ffffff;
  --color-popover-foreground: #010816;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --color-destructive: #ee4444;
  --color-destructive-foreground: #f7f9fb;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #010816;

  --radius: 0.5rem;


}

* {
  border: var(--border);
}

body {
  font-family: var(--font-lato);
}
