@import "tailwindcss";

@plugin "tailwindcss-animate";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

html,
body,
:root {
  height: 100%;
  font-family: var(--font-barlow);
  @apply bg-neutral-900/80;
}


.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  color: hsl(214.3 31.8% 91.4%);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    /* color: rgb(33, 35, 43); */
  }
}

@theme {

  --color-background: rgb(33, 35, 43);
  --color-foreground: hsl(0 0% 100%);

  --color-card: hsl(231, 13%, 20%);
  --color-card-foreground: hsl(0 0% 100%);

  --color-popover: hsl(231, 13%, 20%);
  --color-popover-foreground: hsl(0 0% 100%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(220, 5%, 60%);

  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-ring: hsl(0 0% 100%);


  --radius-radius: 0.5rem;
}

@layer base {}

body {
  font-family: var(--font-lato);
}
